In [1]:
import pandas as pd
import numpy as np
import ast
import math

In [3]:
df = pd.read_csv('final_dataset.csv')

In [4]:
df.columns
# df.head()

Index(['Unnamed: 0', 'place_name', 'place_id', 'categories', 'number',
       'rating', 'address', 'lat', 'lng', 'photos'],
      dtype='object')

In [5]:
cats = df['categories']

In [14]:
catagories = {}
def count_cats(x):
    c = ast.literal_eval(x)
    for each in c:
        if each not in catagories:
            catagories[each] = 0
        catagories[each] += 1

In [15]:
cats.apply(count_cats)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
561    None
562    None
563    None
564    None
565    None
566    None
567    None
568    None
569    None
570    None
571    None
572    None
573    None
574    None
575    None
576    None
577    None
578    None
579    None
580    None
581    None
582    None
583    None
584    None
585    None
586    None
587    None
588    None
589    None
590    None
Name: categories, Length: 591, dtype: object

In [25]:
sorted_catagories = sorted(catagories.items(), key=lambda x: -x[1])
print(sorted_catagories)

[('establishment', 591), ('point_of_interest', 590), ('tourist_attraction', 390), ('museum', 257), ('park', 64), ('amusement_park', 48), ('travel_agency', 44), ('store', 34), ('zoo', 25), ('food', 22), ('restaurant', 16), ('aquarium', 14), ('art_gallery', 12), ('university', 6), ('movie_theater', 5), ('shopping_mall', 4), ('library', 4), ('school', 3), ('lodging', 3), ('local_government_office', 3), ('natural_feature', 2), ('bar', 2), ('clothing_store', 2), ('campground', 2), ('cafe', 2), ('storage', 2), ('airport', 2), ('car_dealer', 1), ('bowling_alley', 1), ('book_store', 1), ('pet_store', 1), ('church', 1), ('place_of_worship', 1), ('grocery_or_supermarket', 1), ('rv_park', 1), ('real_estate_agency', 1), ('home_goods_store', 1), ('car_repair', 1), ('transit_station', 1), ('jewelry_store', 1), ('city_hall', 1), ('primary_school', 1), ('hospital', 1), ('health', 1)]

In [23]:
unique_catagories = {}
def count_unique_cats(x):
    c = ast.literal_eval(x)
    lowest_count = 9999
    lowest_cat = None
    for each in c:
        if catagories[each] <= lowest_count:
            lowest_count = catagories[each]
            lowest_cat = each
    if lowest_cat not in unique_catagories:
        unique_catagories[lowest_cat] = 0
    unique_catagories[lowest_cat] += 1
        
cats.apply(count_unique_cats)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
561    None
562    None
563    None
564    None
565    None
566    None
567    None
568    None
569    None
570    None
571    None
572    None
573    None
574    None
575    None
576    None
577    None
578    None
579    None
580    None
581    None
582    None
583    None
584    None
585    None
586    None
587    None
588    None
589    None
590    None
Name: categories, Length: 591, dtype: object

In [36]:
sorted_unique_cat = sorted(unique_catagories.items(), key=lambda x: -x[1])
print(sorted_unique_cat)

[('museum', 207), ('tourist_attraction', 79), ('point_of_interest', 65), ('park', 43), ('amusement_park', 42), ('travel_agency', 32), ('zoo', 20), ('store', 17), ('aquarium', 14), ('art_gallery', 11), ('restaurant', 9), ('movie_theater', 5), ('university', 5), ('shopping_mall', 4), ('food', 4), ('library', 4), ('natural_feature', 2), ('clothing_store', 2), ('school', 2), ('campground', 2), ('storage', 2), ('airport', 2), ('local_government_office', 2), ('bar', 1), ('car_dealer', 1), ('bowling_alley', 1), ('book_store', 1), ('pet_store', 1), ('place_of_worship', 1), ('grocery_or_supermarket', 1), ('rv_park', 1), ('real_estate_agency', 1), ('home_goods_store', 1), ('car_repair', 1), ('transit_station', 1), ('jewelry_store', 1), ('city_hall', 1), ('primary_school', 1), ('health', 1)]

In [47]:
sort_arr = []
for idx, row in df.iterrows():
    sort_arr.append([float(row['lat']), float(row['lng']), idx])

In [48]:
s = sorted(sort_arr, key = lambda x: (x[0], x[1]))

In [52]:
idxs = []
for sorted_pair in s:
    idxs.append(sorted_pair[2])

In [53]:
idxs

[6,
 62,
 116,
 22,
 197,
 225,
 79,
 98,
 346,
 450,
 142,
 324,
 303,
 11,
 388,
 279,
 522,
 280,
 282,
 255,
 36,
 228,
 97,
 246,
 59,
 301,
 78,
 456,
 10,
 217,
 167,
 148,
 241,
 471,
 329,
 423,
 25,
 92,
 292,
 386,
 47,
 81,
 466,
 50,
 298,
 588,
 189,
 145,
 258,
 223,
 177,
 372,
 76,
 44,
 41,
 458,
 438,
 360,
 210,
 315,
 5,
 288,
 227,
 323,
 359,
 408,
 265,
 141,
 260,
 518,
 99,
 20,
 330,
 327,
 296,
 176,
 574,
 322,
 464,
 26,
 276,
 281,
 75,
 132,
 294,
 249,
 17,
 191,
 45,
 374,
 375,
 46,
 393,
 406,
 339,
 391,
 367,
 61,
 65,
 528,
 129,
 173,
 57,
 403,
 479,
 355,
 451,
 271,
 107,
 155,
 247,
 590,
 203,
 521,
 426,
 42,
 214,
 401,
 531,
 139,
 545,
 333,
 264,
 193,
 274,
 95,
 577,
 505,
 532,
 527,
 510,
 508,
 200,
 66,
 224,
 131,
 440,
 163,
 373,
 467,
 312,
 52,
 390,
 273,
 581,
 126,
 562,
 208,
 23,
 134,
 221,
 463,
 448,
 491,
 80,
 555,
 159,
 124,
 146,
 586,
 211,
 412,
 536,
 512,
 533,
 295,
 147,
 348,
 546,
 332,
 170,
 585,
 511,
 340,
 229,
 161,
 215,
 537,
 497,
 151,
 444,
 184,
 212,
 136,
 55,
 153,
 377,
 379,
 96,
 584,
 449,
 133,
 583,
 162,
 486,
 343,
 454,
 506,
 251,
 571,
 433,
 19,
 552,
 156,
 118,
 461,
 152,
 37,
 539,
 342,
 253,
 575,
 331,
 470,
 419,
 149,
 166,
 289,
 192,
 309,
 164,
 72,
 320,
 563,
 24,
 172,
 240,
 15,
 256,
 7,
 16,
 582,
 70,
 567,
 416,
 12,
 516,
 321,
 60,
 421,
 3,
 378,
 226,
 242,
 422,
 465,
 106,
 160,
 462,
 51,
 485,
 344,
 91,
 130,
 138,
 39,
 389,
 250,
 517,
 48,
 384,
 460,
 337,
 86,
 194,
 110,
 207,
 209,
 254,
 235,
 501,
 201,
 541,
 319,
 157,
 108,
 277,
 400,
 186,
 154,
 300,
 100,
 233,
 195,
 236,
 492,
 413,
 398,
 504,
 182,
 267,
 515,
 432,
 370,
 112,
 168,
 502,
 33,
 335,
 120,
 540,
 490,
 529,
 478,
 18,
 558,
 544,
 476,
 202,
 82,
 543,
 181,
 237,
 101,
 366,
 363,
 238,
 158,
 424,
 268,
 524,
 73,
 477,
 568,
 538,
 442,
 520,
 58,
 564,
 318,
 364,
 105,
 178,
 587,
 266,
 0,
 347,
 525,
 94,
 369,
 576,
 1,
 308,
 368,
 109,
 269,
 248,
 523,
 190,
 499,
 198,
 305,
 71,
 175,
 262,
 353,
 495,
 245,
 313,
 205,
 566,
 169,
 314,
 243,
 405,
 127,
 35,
 365,
 32,
 171,
 13,
 49,
 328,
 113,
 102,
 216,
 8,
 290,
 482,
 304,
 4,
 293,
 206,
 2,
 187,
 445,
 144,
 297,
 362,
 89,
 287,
 354,
 28,
 119,
 54,
 232,
 179,
 27,
 302,
 553,
 84,
 234,
 185,
 402,
 218,
 395,
 317,
 219,
 135,
 549,
 286,
 31,
 125,
 425,
 338,
 441,
 299,
 122,
 231,
 446,
 494,
 230,
 259,
 550,
 534,
 474,
 311,
 420,
 414,
 514,
 579,
 496,
 509,
 572,
 455,
 43,
 397,
 489,
 484,
 275,
 64,
 77,
 487,
 350,
 137,
 481,
 383,
 561,
 459,
 483,
 580,
 428,
 34,
 103,
 188,
 409,
 407,
 284,
 21,
 447,
 9,
 334,
 244,
 439,
 526,
 387,
 519,
 53,
 380,
 196,
 85,
 570,
 469,
 411,
 392,
 554,
 475,
 88,
 183,
 278,
 270,
 493,
 569,
 452,
 430,
 542,
 429,
 121,
 488,
 357,
 472,
 513,
 557,
 128,
 404,
 415,
 503,
 38,
 30,
 427,
 325,
 352,
 565,
 457,
 83,
 417,
 114,
 436,
 283,
 341,
 285,
 560,
 443,
 306,
 93,
 150,
 547,
 434,
 117,
 40,
 351,
 376,
 63,
 431,
 67,
 551,
 410,
 220,
 143,
 382,
 291,
 199,
 204,
 578,
 349,
 530,
 180,
 385,
 123,
 480,
 111,
 68,
 222,
 263,
 361,
 90,
 548,
 239,
 399,
 252,
 29,
 435,
 87,
 559,
 356,
 56,
 336,
 74,
 473,
 14,
 310,
 307,
 396,
 316,
 468,
 500,
 507,
 115,
 535,
 573,
 213,
 394,
 257,
 165,
 453,
 498,
 358,
 272,
 69,
 556,
 140,
 174,
 418,
 104,
 437,
 381,
 261,
 371,
 345,
 326,
 589]

In [71]:
df_sorted = df.loc[idxs, :]
del df_sorted['Unnamed: 0']
df_sorted.head()

,place_name,place_id,categories,number,rating,address,lat,lng,photos
6,Southernmost Point of the Continental US,ChIJOcMITty20YgRUS5ZSmRFS_k,"['tourist_attraction', 'point_of_interest', 'e...",20148.0,4.4,"Whitehead St &, South St, Key West, FL 33040, ...",24.546517,-81.797484,"[{'height': 4160, 'html_attributions': ['<a hr..."
62,The Key West Butterfly and Nature Conservatory,ChIJh8tU9ty20YgR_AeKVyGB8Hk,"['tourist_attraction', 'park', 'point_of_inter...",3142.0,4.8,"1316 Duval St, Key West, FL 33040, United States",24.547564,-81.796825,"[{'height': 3456, 'html_attributions': ['<a hr..."
116,Key West Lighthouse,ChIJuRKkAOi20YgR_QFzmDX3qKI,"['tourist_attraction', 'museum', 'point_of_int...",1421.0,4.5,"938 Whitehead St, Key West, FL 33040, United S...",24.550621,-81.800881,"[{'height': 5312, 'html_attributions': ['<a hr..."
22,The Ernest Hemingway Home and Museum,ChIJbbo4A-i20YgR6klffX8jpBM,"['museum', 'tourist_attraction', 'point_of_int...",8238.0,4.6,"907 Whitehead St, Key West, FL 33040, United S...",24.551204,-81.800616,"[{'height': 3024, 'html_attributions': ['<a hr..."
197,USCGC Ingham Maritime Museum,ChIJ7ZqobO-20YgR7XZDEO-uCZw,"['museum', 'tourist_attraction', 'point_of_int...",636.0,4.7,"Southard St, Key West, FL 33041, United States",24.552237,-81.807761,"[{'height': 1932, 'html_attributions': ['<a hr..."

In [72]:
cats = df_sorted['categories']

def encode_ta(x):
    catagory = 'tourist_attraction'
    c = ast.literal_eval(x)
    if catagory in c:
        return 1
    return 0

def encode_museum(x):
    catagory = 'museum'
    cat2 = 'art_gallery'
    c = ast.literal_eval(x)
    if catagory in c or cat2 in c:
        return 1
    return 0

def encode_amusement(x):
    catagory = 'tourist_attraction'
    c = ast.literal_eval(x)
    if catagory in c:
        return 1
    return 0

def encode_natural(x):
    catagory = 'natural_feature'
    cat2 = 'park'
    c = ast.literal_eval(x)
    if catagory in c or cat2 in c:
        return 1
    return 0

def encode_tours(x):
    catagory = 'travel_agency'
    c = ast.literal_eval(x)
    if catagory in c:
        return 1
    return 0

def encode_zoo(x):
    catagory = 'aquarium'
    cat2 = 'zoo'
    c = ast.literal_eval(x)
    if catagory in c or cat2 in c:
        return 1
    return 0
        
ta = cats.apply(encode_ta)
museum = cats.apply(encode_museum)
amusement = cats.apply(encode_amusement)
natural = cats.apply(encode_natural)
tours = cats.apply(encode_tours)
zoo = cats.apply(encode_zoo)

In [74]:
df_sorted['tourist'] = ta
df_sorted['museum'] = museum
df_sorted['amusement_park'] = amusement
df_sorted['natural'] = natural
df_sorted['tour'] = tours
df_sorted['zoo'] = zoo

In [75]:
df_sorted.head()

,place_name,place_id,categories,number,rating,address,lat,lng,photos,tourist,museum,amusement_park,natural,tour,zoo
6,Southernmost Point of the Continental US,ChIJOcMITty20YgRUS5ZSmRFS_k,"['tourist_attraction', 'point_of_interest', 'e...",20148.0,4.4,"Whitehead St &, South St, Key West, FL 33040, ...",24.546517,-81.797484,"[{'height': 4160, 'html_attributions': ['<a hr...",1,0,1,0,0,0
62,The Key West Butterfly and Nature Conservatory,ChIJh8tU9ty20YgR_AeKVyGB8Hk,"['tourist_attraction', 'park', 'point_of_inter...",3142.0,4.8,"1316 Duval St, Key West, FL 33040, United States",24.547564,-81.796825,"[{'height': 3456, 'html_attributions': ['<a hr...",1,0,1,1,0,0
116,Key West Lighthouse,ChIJuRKkAOi20YgR_QFzmDX3qKI,"['tourist_attraction', 'museum', 'point_of_int...",1421.0,4.5,"938 Whitehead St, Key West, FL 33040, United S...",24.550621,-81.800881,"[{'height': 5312, 'html_attributions': ['<a hr...",1,1,1,0,0,0
22,The Ernest Hemingway Home and Museum,ChIJbbo4A-i20YgR6klffX8jpBM,"['museum', 'tourist_attraction', 'point_of_int...",8238.0,4.6,"907 Whitehead St, Key West, FL 33040, United S...",24.551204,-81.800616,"[{'height': 3024, 'html_attributions': ['<a hr...",1,1,1,0,0,0
197,USCGC Ingham Maritime Museum,ChIJ7ZqobO-20YgR7XZDEO-uCZw,"['museum', 'tourist_attraction', 'point_of_int...",636.0,4.7,"Southard St, Key West, FL 33041, United States",24.552237,-81.807761,"[{'height': 1932, 'html_attributions': ['<a hr...",1,1,1,0,0,0

In [96]:
photos = df_sorted['photos']

def extract_photo_ref(x):
    if x is pd.np.nan:
        return None
    mess = ast.literal_eval(x)
    if 'photo_reference' in mess[0]:
        return mess[0]['photo_reference']
    return None
    
photo_refs = photos.apply(extract_photo_ref)
df_sorted['photo_reference'] = photo_refs

In [97]:
df_sorted.to_csv('final_dataset_sorted.csv', index=False)

In [51]:
# Suggestions

voting_suggestions_count = 20

def compileMemberInfo(memberInfo):
    pref_mapping = {'tourist': 0, 'museum': 1, 'amusement_park': 2, 'natural': 3, 'tour': 4, 'zoo': 5}
    pref_vector = [0] * 6

    for idx in memberInfo:
        for pref in memberInfo[idx]['pref']:
            if memberInfo[idx]['pref'][pref]:
                i = pref_mapping[pref]
                pref_vector[i] += 1

    return pref_vector

def prepareSuggestions(pref_vector, start_lat_lng, radius):
    pref_mapping = {0:'tourist', 1:'museum', 2:'amusement_park', 3:'natural', 4:'tour', 5:'zoo'}
    unit_vec = np.array(pref_vector) / float(sum(pref_vector))
    suggestions_split = unit_vec * voting_suggestions_count

    if sum(suggestions_split) < voting_suggestions_count:
        idx = suggestions_split.index(max(suggestions_split))
        diff = voting_suggestions_count - sum(suggestions_split)
        suggestions_split[idx] += diff

    # suggestions_split is not a vector like [5, 5, 5, 5, 0, 0] where each index is a category
    # (that corresponds to pref_mapping) and each value (ex: 5) is how many places we need to find
    # for the voting step

    print('suggestions_split', suggestions_split)

    df = read_dataset()
    closest_idx, valid_places_idxs = find_closest_places(df, start_lat_lng, radius)

    # now we have a df of all the places within our radius
    df_valid = df.loc[valid_places_idxs, :]

    matches = []

    for idx, count in enumerate(suggestions_split):
        if count > 0:
            pref = pref_mapping[idx]

            potential_matches = []

            for idx_df, row in df_valid.iterrows():
                if row[pref] == 1:
                    potential_matches.append(idx_df)

            matches.append(np.random.choice(potential_matches, int(count), replace=False))

    matches = np.array(matches)
    matches = [item for sublist in matches for item in sublist]
    np.random.shuffle(matches)

    suggestions = df_valid.loc[matches, :]

    print(suggestions)

    return suggestions


def read_dataset():
    df = pd.read_csv('final_dataset_sorted.csv')
    return df

def find_closest_places(df, start_lat_lng, radius):
    lat, lng = start_lat_lng
    best_lat, best_lng, best_dist, best_idx = 0.0, 0.0, 999900, -1
    valid_places = []
    for idx, row in df.iterrows():
        r_lat = float(row['lat'])
        r_lng = float(row['lng'])
        dist = latlng2miles(lat, lng, r_lat, r_lng)
        if dist < radius:
            valid_places.append(idx)
            if dist < best_dist:
                best_lat = r_lat
                best_lng = r_lng
                best_dist = dist
                best_idx = idx

    return best_idx, valid_places


def latlng2miles(lat1, lng1, lat2, lng2):
    R = 6373.0

    l1 = math.radians(lat1)
    ln1 = math.radians(lng1)
    l2 = math.radians(lat2)
    ln2 = math.radians(lng2)

    dlon = ln2 - ln1
    dlat = l2 - l1

    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    if a < 0:
        a = 0
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c

    conv_fac = 0.621371
    miles = distance * conv_fac

    return miles

In [53]:
pref_vector = [5, 4, 3, 4, 2, 3]
start_lat_lng = (25.719375, -80.2756722)

suggestions = prepareSuggestions(pref_vector, start_lat_lng, 50)

suggestions_split [4.76190476 3.80952381 2.85714286 3.80952381 1.9047619  2.85714286]
                                          place_name  \
177                                        Ca' d'Zan
70                                     Haulover Park
196                         Florida Holocaust Museum
24                         Everglades Alligator Farm
29                                         ZWF Miami
52      Phillip and Patricia Frost Museum of Science
97                          Sawgrass Recreation Park
184          The Bishop Museum of Science and Nature
41                                        Gator Park
78   Everglades Holiday Park Airboat Tours and Rides
26                                      Coral Castle
52      Phillip and Patricia Frost Museum of Science
47               Freedom Tower at Miami Dade College
29                                         ZWF Miami
180          Tibbals Learning Center at The Ringling

                        place_id  \
177  ChIJpXGK53VC24gRWMneFVtK6hY
70   ChIJndCi02ut2YgRgQiu2Kn9irk
196  ChIJwz9hhIPhwogRgj4JT_bYNGo
24   ChIJwUe1J63h2YgRXojWqEgoaSQ
29   ChIJTzWEmenp2YgRpyoFmRdvSSs
52   ChIJab3yr6C22YgRdh8TY4oVu_w
97   ChIJU2u3akkL2YgRofnAkGxBVqw
184  ChIJr7ec9tEXw4gRwicCx3wfH2w
41   ChIJFfxfdiKT2YgRPMtHpNSo2fM
78   ChIJ1TVM9DGg2YgRZ8aO0EX15tk
26   ChIJJTjxenrd2YgRmQ9YjR2nXNw
52   ChIJab3yr6C22YgRdh8TY4oVu_w
47   ChIJc657J6C22YgRquWxgZhQ7uw
29   ChIJTzWEmenp2YgRpyoFmRdvSSs
180  ChIJKRTWX9g_w4gRk2YMbJtyfi4

                                            categories  number  rating  \
177  ['tourist_attraction', 'museum', 'point_of_int...    1096     4.7
70   ['park', 'tourist_attraction', 'point_of_inter...    8826     4.6
196  ['museum', 'tourist_attraction', 'point_of_int...     909     4.7
24   ['zoo', 'tourist_attraction', 'park', 'point_o...    3313     4.5
29   ['zoo', 'tourist_attraction', 'park', 'point_o...     512     4.5
52   ['aquarium', 'tourist_attraction', 'museum', '...    4487     4.4
97   ['tourist_attraction', 'zoo', 'travel_agency',...    2969     4.4
184  ['museum', 'tourist_attraction', 'point_of_int...    1160     4.6
41   ['zoo', 'tourist_attraction', 'travel_agency',...    2314     4.3
78   ['zoo', 'tourist_attraction', 'travel_agency',...    6665     4.4
26   ['museum', 'tourist_attraction', 'point_of_int...    2434     4.4
52   ['aquarium', 'tourist_attraction', 'museum', '...    4487     4.4
47   ['tourist_attraction', 'museum', 'point_of_int...     363     4.5
29   ['zoo', 'tourist_attraction', 'park', 'point_o...     512     4.5
180  ['museum', 'tourist_attraction', 'point_of_int...     111     4.6

                                               address        lat        lng  \
177  5401 Bay Shore Rd, Sarasota, FL 34243, United ...  27.382922 -82.564552
70   10800 Collins Ave, Miami Beach, FL 33154, Unit...  25.906599 -80.124442
196  55 5th St S, St. Petersburg, FL 33701, United ...  27.770528 -82.640664
24   40351 SW 192nd Ave, Homestead, FL 33034, Unite...  25.393168 -80.501201
29   16225 SW 172nd Ave, Miami, FL 33187, United St...  25.614033 -80.470509
52   1101 Biscayne Blvd, Miami, FL 33132, United St...  25.785331 -80.188152
97   1006 North, US-27, Weston, FL 33327, United St...  26.176486 -80.447981
184  201 10th St W, Bradenton, FL 34205, United States  27.498246 -82.571527
41     24050 SW 8th St, Miami, FL 33194, United States  25.760632 -80.581148
78   21940 Griffin Rd, Fort Lauderdale, FL 33332, U...  26.060475 -80.444703
26   28655 S Dixie Hwy, Homestead, FL 33033, United...  25.500517 -80.444195
52   1101 Biscayne Blvd, Miami, FL 33132, United St...  25.785331 -80.188152
47   600 Biscayne Blvd, Miami, FL 33132, United States  25.780331 -80.189378
29   16225 SW 172nd Ave, Miami, FL 33187, United St...  25.614033 -80.470509
180  5401 Bay Shore Rd, Sarasota, FL 34243, United ...  27.383730 -82.560508

                                                photos  tourist  museum  \
177  [{'height': 1236, 'html_attributions': ['<a hr...        1       1
70   [{'height': 2788, 'html_attributions': ['<a hr...        1       0
196  [{'height': 768, 'html_attributions': ['<a hre...        1       1
24   [{'height': 3456, 'html_attributions': ['<a hr...        1       0
29   [{'height': 909, 'html_attributions': ['<a hre...        1       0
52   [{'height': 3078, 'html_attributions': ['<a hr...        1       1
97   [{'height': 1365, 'html_attributions': ['<a hr...        1       0
184  [{'height': 4032, 'html_attributions': ['<a hr...        1       1
41   [{'height': 1278, 'html_attributions': ['<a hr...        1       0
78   [{'height': 2448, 'html_attributions': ['<a hr...        1       0
26   [{'height': 3024, 'html_attributions': ['<a hr...        1       1
52   [{'height': 3078, 'html_attributions': ['<a hr...        1       1
47   [{'height': 438, 'html_attributions': ['<a hre...        1       1
29   [{'height': 909, 'html_attributions': ['<a hre...        1       0
180  [{'height': 2988, 'html_attributions': ['<a hr...        1       1

     amusement_park  natural  tour  zoo  \
177               1        0     0    0
70                1        1     0    0
196               1        0     0    0
24                1        1     0    1
29                1        1     0    1
52                1        0     0    1
97                1        1     1    1
184               1        0     0    0
41                1        1     1    1
78                1        0     1    1
26                1        0     0    0
52                1        0     0    1
47                1        0     0    0
29                1        1     0    1
180               1        0     0    0

                                       photo_reference
177  CmRaAAAAG1y88f6TwsF-rdrawpj0WKMBf_zNuu3niZ9RTT...
70   CmRaAAAAayzJzWrYEIUwzFgasMxjGNb4KsvwmZf6AcSC5-...
196  CmRaAAAAoSAeqGfjT2UHkIzYD6z9euytxRz5KUWE886CoL...
24   CmRaAAAAeprnM55U4RA_DKXk9LK1EWGiIDmlW9K_krVKlx...
29   CmRaAAAA1atfw1yobFokZh-Z7YceegfCAcxlTZ-zlsJhyS...
52   CmRZAAAAfA36CSz7hAMkr1cJ2xypvOEc9c6DVDfdVtGKPl...
97   CmRaAAAA0tBw1JS9MBp4uMGR7Xph-gRMERAus9X2cP-Q7A...
184  CmRaAAAA2B9dqe5pJyzGR6MldRIvSOosM9yJs5NJrJKgg1...
41   CmRaAAAAOSVfLhyaUvnvj3YBr4mcEqqjeZx7ceaNgjTp3t...
78   CmRaAAAAp88TDgllGALcNwXOEF7QI6uLIRySojlRt3HqXK...
26   CmRaAAAAaR5sO_XI5Y1YvIL9EBaT_0lJ7ZsVHFjQZOdDRN...
52   CmRZAAAAfA36CSz7hAMkr1cJ2xypvOEc9c6DVDfdVtGKPl...
47   CmRaAAAAEpXPQUkzsDJn3I5SPm1-PQCIIdnJ5qARNvwEBT...
29   CmRaAAAA1atfw1yobFokZh-Z7YceegfCAcxlTZ-zlsJhyS...
180  CmRaAAAA0UW6abwCthJK3L_T5LbMaFpbi4j58_5fmolh3M...

In [2]:
# get URLs
df = pd.read_csv('final_dataset_sorted.csv')

In [3]:
from googleplaces import GooglePlaces, types, lang

my_API_key = 'AIzaSyAsehbprMSCj4Hs1aquw2yDekqQii2KUYE'
google_places = GooglePlaces(my_API_key)

row = 1

def getPlaceImageURL(placeId):
    global row
    print(row)
    row +=1 
    try:
        res = google_places.get_place(placeId)
        res.get_details()
        res.photos[0].get(maxheight=500, maxwidth=500)
        return res.photos[0].url
    except:
        return None

In [4]:
df['photo_url'] = df['place_id'].apply(getPlaceImageURL)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579

In [6]:
df.to_csv('final_dataset_sorted.csv', index=False)

In [12]:
placeIds = df['place_id'].to_numpy()

In [13]:
placeIds[0]

'ChIJOcMITty20YgRUS5ZSmRFS_k'